<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"Name（最大12文字まで）"%>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"form-control", placeholder:"E-mail"%>
        <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
        <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Password(Confirmation)" %>
        <span class="fa fa-check-circle-o form-control-icon" aria-hidden="true"></span>
      </div>

      <div class="actions1">
        <%= f.submit "Sign up", class:"btn btn-lg btn-default btn-block" %>
      </div>
      <% end %>

      <h4><%= render "devise/shared/links" %></h4>
    </div>
  </div>
</div>