<div class="container">
	<div class="row">
		<div class="col-sm-offset-2">
			<h1>PROFILE</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-3">
			<h3>Follows :　<%= link_to @user.follower.count, user_follows_path(@user), class: "btn btn-default" %></h3>
			<h3>Followers : <%= link_to @user.followed.count, user_followers_path(@user), class: "btn btn-default" %></h3>
			<p> <% if current_user != @user %>
				<% if current_user.following?(@user) %>
				<%= link_to 'Unfollow', user_relationships_path(@user.id), method: :delete, class: "btn btn-outline-danger text-danger btn-lg" %>
				<% else %>
				<%= link_to 'Follow', user_relationships_path(@user.id), method: :POST, class: "btn btn-info btn-lg" %></p>
				<% end %>
			    <% end %>
			</div>
			<div class="col-sm-3">
				<%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'150x170' %>
			</div>
		</div>
		<div class="row">
			<div class="show-table2 col-sm-8 col-sm-offset-2">
				<table class="table">
					<tr class="show-tr2">
						<th>Your name</th>
						<td class="show-td2a"><%= @user.name %></td>
					</tr>
					<tr class="show-tr2">
						<th>Introduction</th>
						<td class="show-td2b"><%= @user.introduction %></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-9">
				<% if @user == current_user %>
				<p><%= link_to "Edit", edit_user_path(@user), class: "btn btn-warning" %></p>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<% if @user != current_user %>
				<% @posts.each do |post| %>
				<div class="col-sm-3 post_box">
					<table border="1", class="box-table2">
						<tr class="box-tr2">
							<td colspan="2", class="box-td-top2"><%= post.date %></td>
						</tr>
						<tr class="box-tr2">
							<td class="box-td2">
								<%= attachment_image_tag post.user, :profile_image, :fill, 70, 70, format: 'jpeg', class: "img-circle center-block profile-img", fallback: "no_image.jpg", size:'75x95' %>
							</td>
							<td class="box-td2">
								<ul>
									<li>
										<span><%= link_to post.title, post_path(post.id), class: "pull-left" %></span>
									</li>
									　　<% if post.favorited_by?(current_user) %>
									<li><%= link_to post_favorites_path(post), class: "pull-left", method: :delete do %>
										<span class="glyphicon glyphicon-heart"><%= post.favorites.count %></span>
										<% end %>
										<% else %>
										<%= link_to post_favorites_path(post), class: "pull-left", method: :post do %>
										<span class="glyphicon glyphicon-heart-empty"><%= post.favorites.count %></span>
									</li>
									<% end %>
									<% end %>
								</td>
							</tr>
						</table>
					</div>
					<% end %>
				</div>

				<% end %>
			</div>
</div>










