<div class="container">
	<div class="row">
		<div class="col-sm-offset-2">
			<h1>MY DIARIES</h1>
		</div>
	</div>
	<div class="row">
		<div class="post-index col-sm-9">
			<div class="row">
				<div class="col-sm-4 new_post">
					<span><%= link_to new_post_path, class: "btn btn-primary btn-circle new-btn" do %>
						<P class="new-btn-box">＋</P>
						<% end %>
					</span>
				</div>
				<% @posts.each do |post| %>
				<div class="col-sm-4 my_post_box">
					<table border="3", class="box-table1">
						<tr class="box-tr1">
							<td colspan="2", class="box-td-top1"><%= post.date %></td>
						</tr>
						<tr class="box-tr1">
							<td class="box-td1">
								<%= attachment_image_tag post.user, :profile_image, :fill, 70, 70, format: 'jpeg', class: "profile-img pull-left img-circle", fallback: "no_image.jpg" %>
							</td>
							<td class="box-td1"><span><%= link_to post.title, post_path(post.id), class: "pull-left" %></span>
							</td>
						</tr>
					</table>
				</div>
				<% end %>
			</div>
		</div>
		<%= render 'users/sidebar', user:current_user %>
	</div>
	<div class="row">
		<div class="col-sm-9 text-center">
			<%= paginate(@posts) %>
		</div>
	</div>
</div>