<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="form-body">
        <h2>Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-group has-icon">
        <label class="control-label sr-only">Name</label>
        <%= f.text_field :name, autofocus: true, class:"form-control", autocomplete: "name", placeholder:"Name" %>
        <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
        </div>

        <div class="form-group has-icon">
          <label class="control-label sr-only">Email</label>
          <%= f.email_field :email,autofocus: true, class:"form-control", autocomplete: "email", placeholder:"E-mail"%>
          <span class="fa fa-envelope form-control-icon" aria-hidden="true"></span>
        </div>

        <div class="form-group has-icon">
          <label class="control-label sr-only">Password</label>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Password" %>
          <span class="fa fa-lock form-control-icon" aria-hidden="true"></span>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

      </div>
        <div class="actions">
      <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block"%>
      </div>
      <% end %>

      <h4><%= render "devise/shared/links" %></h4>

    </div>
  </div>
</div>
