<div class="container">
  <div class="row">
    <div class="col-sm-offset-2">
      <h1>POSTED DIARIES</h1>
    </div>
  </div>
	<div class="row">
		<div class="post-index col-sm-9 ">
			<div class="row">
				<% @posts.each do |post| %>
				<div class="col-sm-4 post_box">
					<table border="3", class="box-table2">
						<tr class="box-tr2">
							<td colspan="2", class="box-td-top2"><%= post.date %></td>
						</tr>
						<tr class="box-tr2">
							<td class="box-td2">
								<%= link_to user_path(post.user_id) do %>
								<%= attachment_image_tag post.user, :profile_image, :fill, 70, 70, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
								<% end %>
							</td>
							<td class="box-td2">
								<ul>
									<li><%= link_to post.title, post_path(post.id), class: "pull-left" %></li>
									<li><% if post.favorited_by?(current_user) %></li>
									<li><%= link_to post_favorites_path(post), class: "pull-left", method: :delete do %>
										<p class="glyphicon glyphicon-heart"><%= post.favorites.count %></p>
										<% end %>
										<% else %>
										<%= link_to post_favorites_path(post), class: "pull-left", method: :post do %>
										<p class="glyphicon glyphicon-heart-empty"><%= post.favorites.count %></p>
									<% end %>
									<% end %>
								</li>
								</td>
							</tr>
						</table>
					</div>
					<% end %>
				</div>
			</div>
			<%= render 'users/sidebar', user:current_user %>
		</div>
		<div class="row">
			<div class="col-sm-9 text-center">
				<%= paginate(@posts) %>
			</div>
		</div>
	</div>