<div class="container">
	<div class="row">
		<div class="col-sm-offset-2">
			<h1>NEW POST</h1>
		</div>
	</div>
	<%= form_for(@post, url: posts_path) do |f| %>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-2">
			<% if @post.errors.any? %>
			<div id="error_explanation" class="alert alert-danger">
				<h3><%= @post.errors.count %></h3>
				<ul>
					<% @post.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="show-table1 col-sm-8 col-sm-offset-2">
			<table class="table">
				<tr class="show-tr1">
					<td>学習日</td>
					<td><%= f.date_field :date %></td>
				</tr>
				<tr class="show-tr1">
					<td>学習項目</td>
					<td><%= f.text_field :title %></td>
				</tr>
				<tr class="show-tr1">
					<td>学習時間</td>
					<td><%= f.select :time, time_list, {include_blank: "学習時間"}, :required => true %></td>
				</tr>
				<tr class="show-tr1">
					<td>新出単語</td>
					<td><%= f.text_area :word %></td>
				</tr>
				<tr>
					<td class="show-td1">学習日記</td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="show-table1 col-sm-6 col-sm-offset-3">
			<p class="show-body"><%= f.text_area :body %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-8">
			<p><%= f.submit 'Post', class: "btn btn-primary" %></p>
		</div>
	</div>
	<% end %>
</div>