<div class="container">
	<div class="row">
		<div class="col-sm-offset-2">
			<h1>NEW POST</h1>
		</div>
	</div>
	<%= form_for(@post, url: posts_path) do |f| %>
	<div class="row">
		<div class="col-sm-3 col-sm-offset-2">
			<% if @post.errors.any? %>
			<div id="error_explanation" class="alert alert-danger">
				<h3><%= @post.errors.count %></h3>
				<ul>
					<% @post.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>
		</div>
		<div class="col-sm-6">
			<h3>学習日     <%= f.date_field :date %></h3>
			<h3>学習項目     <%= f.text_field :title %></h3>
			<h3>学習時間   <%= f.select :time, options_for_select((1..100).to_a), {include_blank: "学習時間"},:required => true %></h3>
			<h3>新出単語   <%= f.text_area :word %></h3>
			<h3>学習日記    <%= f.text_area :body %></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-8">
			<p><%= f.submit 'Post', class: "btn btn-primary" %></p>
		</div>
	</div>
	<% end %>
</div>