<div class="container">
	<div class="row">
		<div class="col-sm-offset-2">
			<h1>English Diary</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h3>学習日   <%= @post.date %></h3>
			<h3>学習項目   <%= @post.title %></h3>
			<h3>学習時間   <%= @post.time %></h3>
			<h3>新出単語   <%= @post.word %></h3>
			<h3>学習日記    <%= @post.body %></h3>
			<p><% if @post.favorited_by?(current_user) %>
				<%= link_to post_favorites_path(@post), method: :delete do %>
				<span class="glyphicon glyphicon-heart"><%= @post.favorites.count %></span>
				<% end %>
				<% else %>
				<%= link_to post_favorites_path(@post), method: :post do %>
				<span class="glyphicon glyphicon-heart-empty"><%= @post.favorites.count %></span>
				<% end %>
				<% end %>
			</p>
		</div>
	</div>
	 <div class="row">
        <div class="col-sm-4 col-md-offset-8">
			<% if !Bookmark.exists?(user_id: current_user.id, post_id: @post.id) %>
			<p><%= link_to "Bookmark",post_bookmarks_path(@post), class: "btn btn-primary", method: :post %></p>
			<% else %>
			<p><%= link_to "Cancel",post_bookmarks_path(@post), class: "btn btn-danger", method: :delete %></p>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-offset-8">
			　　<% if @post.user == current_user %>
			<p><%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %></p>
			<p><%= link_to "Destroy", post_path(@post.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？"  %></p>
			<% end %>
		</div>
	</div>
</div>